body {
    background-color: rgb(12, 25, 37);
}

.inputWithLabel{
    display: flex;
}

input {
    border: 1px solid yellow;
    border-radius: 6px;
    position: relative;
    line-height: 6ex;
    background-color: rgb(12, 25, 37);
    color: #bfa181;
    padding: 1% 2.5%;
    font-size: 19px;
}

label {
    position: absolute;
    z-index: 1;
    background-color: rgb(12, 25, 37);
    padding: 0 5px;
    color: #bfa181;
}


/* ------------------ for mobile screens -------------------- */
@media(min-width: 300px) {
    input {
        width: 94%;
        margin: 6% 3%;
        padding: 2% 5%;
        height: 55px;
    }

    label {
        top: 1.6%;
        left: 5%;
        font-size: 13px;
    }
}

/* ------------------ for tablet screens -------------------- */
@media(min-width: 650px) {
    input {
        width: 90%;
        margin: 5%;
        padding: 2% 5%;
    }

    label {
        font-size: 13px;
        left: 8%;
        top: 3.2%;
    }
}

/* ------------------ for laptop screens -------------------- */
@media(min-width: 900px) {
    input {
        width: 40%;
        height: 60px;
        margin: 3% 30%;
        padding: 2%;
    }

    label{
        top: 4.4%;
        left: 31%;
        font-size: 14px;
    }
}


